<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tasfin">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title> Frutify // Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" href="../img/favicon.png">

</head>

<body>
    <main class="container">
        <h1 class="header-1 text-gradient">Tafruit &middot; About fruits</h1>
        {%CARDS%}
    </main>
    <footer class="footer">
        <span class="footer__copy">Copyright &copy; 2020 by Fruitify. All rights reserved.</span>
    </footer>
</body>

</html>